@media screen and (max-width:600px) {
  .label {display: none;}

  .left-content {width:100%;}

  #filter-search-container {flex:1;}
  #filter-search input {
    width: 100%;
    max-width: 100%;
  }

  .song-card {
    width: calc((100% - 1rem) / 2);
  }
}

@media screen and (min-width: 601px) and (max-width: 743px) {
  input {width: 15rem;}
  #filter-search input {
    width: 23.5rem;
  }
  .song-card {
    width: calc((100% - 1rem) / 2);
  }

  .left-content {width:55%;}
  .right-content {width:45%;}
}

@media screen and (min-width:744px) {
  .song-card {
    width: calc((100% - 3rem) / 3);
  }
  
  .left-content {width:65%;}
  .right-content {width:35%;}
  
}


@media screen and (min-width:1280px) {
  .song-card {
    width: calc((100% - 3rem) / 4);
  }

  .left-content {width:75%;}
  .right-content {width:25%;}
}