/* Small smartphones (up to 600px) */
@media screen and (max-width:600px) {
  .label {display: none;}
  .song-card:hover .label {opacity: 0;}

  .padding-inline {padding-inline: 1rem;}

  .logo-mobile {
    display: block;
    border: 0;
  }

  .left-content {width:100%;}

  #filter-search-container {flex:1;}
  #filter-search input {
    width: 100%;
    max-width: 100%;
  }

  .song-card {
    width: calc((100% - 1rem) / 2);
  }
}

/* Medium smartphones (601px to 743px) */
@media screen and (min-width: 601px) and (max-width: 743px) {
  #topbar input {width:12rem;}

  #filter-search input {
    width: 20.5rem;
  }
  .song-card {
    width: calc((100% - 1rem) / 2);
  }

  .left-content {width:55%;}
  .right-content {width:45%;}
}

/* Tablets and small laptops (744px to 1279px) */
@media screen and (min-width:744px) {
  .song-card {
    width: calc((100% - 3rem) / 3);
  }
  .left-content {width:65%;}
  .right-content {width:35%;}
}

/* Large desktops (1280px and above) */
@media screen and (min-width:1280px) {
  .song-card {
    width: calc((100% - 3rem) / 4);
  }
  
  .buttons-container {display:flex; flex-direction: row; align-items:center; gap:1rem}
  .buttons-container > * {width: 100%;}
  .artist-info-container {display:flex; justify-content: space-between; flex-direction: row;}
  .artist-info-container > * {width: auto;}
  .left-content {width:75%;}
  .right-content {width:25%;}
}