* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --color-logo: #0cacd7;
  --color-bg-dark: #222222;
  --color-bg-gray: #2b2b2b;
  --color-white: #ffffff;

  --height-header: 6.813rem; /* (109px) or 14.361% */
  --width-aside: 25.813rem; /* (413px) or 32.24% */
}


/* Utilities */

.overflow-auto-y {
  overflow-y: auto;
  height: 100%;
}

.d-flex {display: flex;}
.justify-content-sb {justify-content: space-between;}



/* *** BODY *** */

body {
  height: 100vh;
  overflow: hidden;

  background-color: var(--color-bg-dark);
}



/* *** HEADER *** */

header {
  height: var(--height-header);
}


