* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --color-logo: #0cacd7;
  --color-bg-dark: #222222;
  --color-bg-gray: #2b2b2b;
  --color-white: #ffffff;

  --height-header: 6.813rem; /* (109px) or 14.361% */
}


/* Utilities */

.overflow-auto-y {
  overflow-y: auto;
  height: 100%;
}

.d-flex {display: flex;}
.justify-content-sb {justify-content: space-between;}
.padding-inline {padding-inline: 2rem;}

.right-col {width: 30vw;} 
.left-col {width: 70vw;} 

/* *** BODY *** */

body {
  height: 100vh;
  overflow: hidden;

  background-color: var(--color-bg-dark);
}



/* *** HEADER *** */

header {
  height: var(--height-header);

  #filter-search {
    background-color: var(--color-bg-gray);
  }
}

#topbar {
  svg path:first-child {
    fill: var(--color-logo);
  }

  svg path:last-child {
    fill: var(--color-white);
  }
}


/* *** MAIN *** */

main {
  .left-content {
    background-color: var(--color-logo);
  }
  
  .right-content {
    background-color: pink;
  }
}