* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --color-logo: #0cacd7;
  --color-bg-dark: #222222;
  --color-bg-gray: #2b2b2b;
  --color-white: #ffffff;
  --color-light-gray: #949494;

  --height-header: 6.813rem; /* (109px) or 14.361% */
}

img {
  width: 100%;
  border: 1px solid rgba(204, 204, 204, 0.1);
}

/* Utilities */

.overflow-auto-y {
  overflow-y: auto;
  height: 100%;
}

.d-flex {display: flex;}
.flex-direction-c {flex-direction: column;}
.flex-1 {flex: 1;}
.flex-wrap {flex-wrap: wrap;}
.gap-1 {gap:1rem;}
.justify-content-sb {justify-content: space-between;}
.align-items-c {align-items: center;}
.padding-inline {padding-inline: 2rem;}

.col-30 {width: 30%;} 
.col-70 {width: 70%;} 
.col-10 {width: 10%;}

.wrapper {height: 100%;}

/* *** BODY *** */

body {
  width:100vw;
  height: 100vh;
  overflow: hidden;

  color: var(--color-white);
  background-color: var(--color-bg-dark);
}

/* *** HEADER *** */

header {
  height: var(--height-header);
}

#topbar {
  padding-inline: 2rem;

  svg path:first-child {
    fill: var(--color-logo);
  }
  
  svg path:last-child {
    fill: var(--color-white);
  }
}

#filter-search {
  background-color: var(--color-bg-gray);
}

/* *** MAIN *** */

main {
  .left-content,
  .right-content {
    height: calc(100vh - var(--height-header));
  }

  .left-content {
    scrollbar-color: transparent transparent;
  }
  
  .song-card {
    width: calc((100% - 5rem) / 4);
    margin-bottom: 2rem;
  }


  .right-content {
    padding-left: 1rem;
    border-left: 1px solid rgba(204, 204, 204, 0.1);
  }
}